@import "~bootstrap/dist/css/bootstrap.css";

@keyframes spin {
    from {
        transform: rotateZ(10deg);
    }
    to {
        transform: rotateZ(370deg);
    }
}

.toggle-btn {
    margin: 0.5em auto;
    display: block;
}

.loading-spinner {
    position: relative;

    &:before {
        content: "";
        display: block;
        border: 10px solid #ccc;
        border-left-color: black;
        border-radius: 100%;
        transform: rotateZ(10deg);
        width: inherit;
        height: inherit;
        position: absolute;
        animation: linear infinite 1s spin;
    }
}

.main {
    margin: 3rem 1.5rem;
    text-align: center;
}

.current-status, .loading-spinner {
    width: 96px;
    height: 96px;
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    margin: 0 auto;
}

.current-status {
    background-image: url(./icons.svg);
    background-size: 288px 96px;
    &.on {
        background-position: -96px 0;
    }
    &.off {
        background-position: 0 0;
    }
    &.unknown {
        background-position: -192px;
    }
}

